{% extends "admin/change_list.html" %}
{% load i18n static admin_urls admin_list %}

{% block object-tools %}
    {% block object-tools-items %}
        {% if has_add_permission and "/point/" in request.path %}
            <form
                action="{% url 'admin:import_points' %}"
                method="post"
                enctype="multipart/form-data"
                style="padding: 10px 0"
            >
                {% csrf_token %}
                 <input type="submit" value="Import punktów" />
                {{ form.file }}
            </form>
         {% endif %}
         {% if has_add_permission and "/pointcost/" in request.path %}
            <form
                action="{% url 'admin:import_costs' %}"
                method="post"
                enctype="multipart/form-data"
                style="padding: 10px 0"
            >
                {% csrf_token %}
                 <input type="submit" value="Import kosztów" />
                {{ form.file }}
            </form>
         {% endif %}
    {% endblock %}
{% endblock %}
